# Python / Backend
__pycache__/
*.pyc
.venv/
venv/
env/
.env
.env.*
local_settings.py

# Editor / IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Python build
build/
dist/

# Logs
*.log

# SQLite
*.db

# Docker
docker-compose.override.yml

# Misc
.DS_Store
nbproject/